.main_sort {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}
.main_sort button {
  cursor: pointer;
  width: 20%;
  height: 4rem;
  border: none;
  border-radius: 5px;
  background: #0c81e0;
  margin-left: 0.5rem;
  padding: 0.5rem;
  transition: 650ms all ease-in-out;
}
.main_sort button:hover {
  background: #1f8ee9c9;
}
@media (min-width: 540px) {
  .main_sort button {
    width: 15%;
  }
}

@media (min-width: 645px) {
  .main_sort button {
    width: 10%;
    height: 3rem;
  }
}

@media (min-width: 945px) {
  .main_sort button {
    width: 7%;
  }
}

.sort_svg {
  width: 100%;
  height: 100%;
}
